<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

   
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
        <script src="angular/adminSessions.js"></script>
    
    
    	<link rel="stylesheet" href="stylesheets/modern-business.css">
    	
        <link rel="stylesheet" href="stylesheets/style.css">


</head>

<body ng-app="sessions" ng-controller = "sessions">


<% include navbar.ejs %>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
            <a href="logout" style="float:right;">Logout</a>
                <h1 class="page-header">Sessions
                    <small>Manage your sessions here !</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="displayAdminSessions">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our sessions</h2>
            </div>
            <div class="col-md-12">
             <div class="col-md-6" ng-repeat = "k in sessions">
          
          
                <p> Session : {{k.sessionName}}</p>
                <p>Speaker : {{k.speakerName}}</p>
                <p> Timings : {{k.sessionTimings}}</p>
                <p>Location : {{k.sessionLocation}}</p>     
                <p> Session : {{k.sessionDesc}}</p>
              
                
     
             
                <hr>
                </div>
                </div>
   
          
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    
</body>

</html>
