<!DOCTYPE html>
<html lang="en">

    <head>
    <style>
   body  {
    background-image: url("img/backgrounds/1.jpg");
    background-color: #cccccc;
}

</style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login form</title>

        <!-- CSS -->
        
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
        <script src="angular/signup.js"></script>
    
    	<link rel="stylesheet" href="stylesheets/form-elements.css">
        <link rel="stylesheet" href="stylesheets/style.css">

      
    </head>

    <body ng-app="signup" ng-controller="signup">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1 style="text-align:center"><strong>Please</strong> Signup here</h1>
                            <div class="description">
                            	<p style="text-align:center">
                            	Please signup to use the service ! 
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Provide your details here !</h3>
                            	
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post" name="registration" class="login-form">
			                    	<div class="form-group">
			                    	
			                        	<input type="text" name="fullName" ng-model="fullName" placeholder="Fullname" id="fullName" required>
						                      
						                        <span style="color:red" ng-show="registration.fullName.$dirty && registration.fullName.$invalid">
			  											<span ng-show="registration.fullName.$error.required">Fullname is required.</span>
			  									</span>	
				
			                        </div>
			                         <div class="form-group">
			                        	<input type="text" name="email" ng-model="email" placeholder="email"  id="email"  required>
			                       
						                    <span style="color:red" ng-show="registration.email.$dirty && registration.email.$invalid">
			  										<span ng-show="registration.email.$error.required">Email is required.</span>
			  								</span>	
				
			                       
			                       
			                        </div>
			                        
			                        <div class="form-group">
			                        
			                        	<input type="password" ng-model="password" name="password" placeholder="password"  id="password" required>
			                         
			                         		<span style="color:red" ng-show="registration.password.$dirty && registration.password.$invalid">
			  										<span ng-show="registration.password.$error.required">Password is required.</span>
			  								</span>	
			                        
			                        
			                        </div>
			                        <div class="form-group">
			                   
			                        	<input type="text" ng-model = "linkedInUrl" name="linkedInUrl" placeholder="linkedInUrl" id="linkedInUrl" required>
			                        
			                         		<span style="color:red" ng-show="registration.linkedInUrl.$dirty && registration.linkedInUrl.$invalid">
			  										<span ng-show="registration.linkedInUrl.$error.required">Url is required.</span>
			  								</span>	
			                        
			                        </div>
			                        <div class="form-group">
			                        	<input type="text" ng-model = "contactNumber" name="contactNumber" placeholder="contactNumber" required>
			                        	
			                        	<span style="color:red" ng-show="registration.contactNumber.$dirty && registration.contactNumber.$invalid">
			  										<span ng-show="registration.contactNumber.$error.required">Contact Number is required.</span>
			  								</span>	
			                        
			                        </div>
			                        
			                        <button type="submit" ng-click="submit($event)" class="btn">Sign Up!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                 
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
 
       
    </body>

</html>