<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <style>
        body {
            background-image: url("img/backgrounds/4.jpg");
            background-color: #cccccc;
        }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.3.15/angular.js"></script>

    <link rel="stylesheet" href="stylesheets/form-elements.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="angular/addSession.js"></script>

</head>
<body ng-app="addSession" ng-controller="addSession">

<div class="container">
    <div class="col-md-12">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h2>ADD SESSION</h2></center>
            <p></p>
        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <p>Add the session name, speaker of the session and the details for the session! !</p>

                </div>
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" name="registration" class="login-form" novalidate>
                    <div class="form-group">
                        <label for="sessionName">Session name:</label>
                        <input type="text" ng-model="sessionName" class="form-control" id="sessionName"
                               name="sessionName" required>
                        <span style="color:red" ng-show="registration.sessionName.$dirty && registration.sessionName.$invalid">
					        <span ng-show="registration.sessionName.$error.required">Session Name is required.</span>
					    </span>
                    </div>

                    <div class="form-group">
                        <label for="sessionDesc">Session Description :</label>
                        <textarea ng-model="sessionDesc" class="form-control" rows="5" id="sessionDesc"
                                  name="sessionDesc" required></textarea>
                        <span style="color:red" ng-show="registration.sessionDesc.$dirty && registration.sessionDesc.$invalid">
					        <span ng-show="registration.sessionDesc.$error.required">Session Description is required.</span>
					    </span>
                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="">Session timings:</label>
                                <input ng-model="sessionTimings" type="text" class="form-control" id="sessionTimings"
                                       name="sessionTimings" required>
                                <span style="color:red" ng-show="registration.sessionTimings.$dirty && registration.sessionTimings.$invalid">
					                <span ng-show="registration.sessionTimings.$error.required">Session Timings is required.</span>
					            </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="">Session Location:</label>
                                <input ng-model="sessionLocation" type="text" class="form-control" id="sessionLocation"
                                       name="sessionLocation" required>
                                <span style="color:red" ng-show="registration.sessionLocation.$dirty && registration.sessionLocation.$invalid">
					                <span ng-show="registration.sessionLocation.$error.required">Session Location is required.</span>
					            </span>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">

                        <label for="">Speaker Name:</label>
                        <input ng-model="speakerName" type="text" class="form-control" id="speakerName"
                               name="speakerName" required>
                        <span style="color:red" ng-show="registration.speakerName.$dirty && registration.speakerName.$invalid">
					                <span ng-show="registration.speakerName.$error.required">Speaker Name is required.</span>
                        </span>
                    </div>
                    <div class="form-group">

                        <label for="">Speaker Details:</label>
                        <input type="text" ng-model="speakerDetails" class="form-control" id="speakerDetails"
                               name="speakerDetails" required>
                        <span style="color:red" ng-show="registration.speakerDetails.$dirty && registration.speakerDetails.$invalid">
					                <span ng-show="registration.speakerDetails.$error.required">Speaker Details is required.</span>
                        </span>
                    </div>


                    <button type="submit" ng-click="submit($event)" class="btn">Create Session!</button>
                </form>
            </div>


        </div>


    </div>
</div>

</body>
</html>
